*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  background: #4D5B9E;
  font-family: "Karla","sans-serif";
}

main{
  display: flex;
  width: 100vw;
  height: 100vh;
}

.app-container{
  position: relative;
  margin: auto;
  height: 80%;
  width: 80%;
  background: #F5F7FB;
  border-radius: 4px;
  background-image: url("./yellow-blob.png"), url("./blue-blob.png");
  background-position: right top, left bottom;
  background-repeat: no-repeat;
}

/* Background blob styling ----------------------------*/

.app-topBlob{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4px;
}

.landingPage-bottomBlob,
.quizPage-bottomBlob{
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 4px;
}

/* Buttons --------------------------------------*/

.landingPage-btn,
.quizPage-btn{
  border: none;
  background: #4D5B9E;
  font-family: 'Inter','sans serif';
  color: #F5F7FB;
  cursor: pointer;
}

.landingPage-btn{
  border-radius: 16px;
  font-weight: 500;
  font-size: 1rem;
  padding: 1em 3em;
}

.quizPage-btn{
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.65rem;
  padding: 1em 2em;
}

/* Landing page --------------------------------------*/

.landingPage-container{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landingPage-title{
  margin-bottom: 1em;
  font-size: 2rem;
  color: #293264;
}

/* Quiz page ------------------------------------------*/

.quizPage-container{
  border:1px solid red;
  margin: 3em 2em 0.5em 2em;
  text-align: left;
}

/* Question question ---------------------------------*/

.quizQuestion-container{
  margin-bottom: 1em;
  border-bottom: 0.794239px solid #DBDEF0;
}

.quizQuestion-question{
  margin: 0;
  font-size: 1rem;
  line-height: 1.1;
  color: #293264;
}

